.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: #8c1515;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}


.header__left { 
    display: flex;
    justify-content: space-evenly;
   
}


.header__input{
    display:flex;
    align-items: center;
    background-color: #EAEAEA;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header__left > img {
    margin-top: 5px;
    margin-right: 5px;
    height: 40px;
   
}

.header__input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}


.header__center{
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__option > .MuiSvgIcon-root {
    color: #400a0a;
}

.header__option:hover > .MuiSvgIcon-root {
    color: white;
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header__option--active > .MuiSvgIcon-root {
    color: white;
}

.header__option--active {
    border-bottom: 4px solid white;
}

.header__option:hover {
    background-color: #820000;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__info > h4 {
    margin-left: 10px
}

.header__right {
    display: flex;
}